#dialog {
  display: none;
  color: grey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #121212;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#dmenu , #smenu , #hmenu{
  display: none; 
  padding: 3px;
  margin: 2px;
  list-style: none;
  background-color: #BBBBBB;
  border: 3px solid;
  border-radius: 5px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#smenu {
  border-color:#111144;
}
#hmenu{
border-color:#441111;
}
#dmenu{
border-color:#114411;
}
#dmenu li , #smenu li , #hmenu li{
  padding: 5px;
  font-size: 14px;
  color: #000033;
}
#dmenu li:hover , #smenu li:hover , #hmenu li:hover{
  padding: 6px;
  font-size: 15px;
  color: #000099;
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(7px);
  z-index: -1;
}
.bgrid{
display: grid;
margin-top:10px;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
padding: 5px;
}
.stat {
   display: inline-flex;
   height: 45px;
   border: 2px solid black;
   border-radius: 10px;
   text-align: left;
}
.energy {
   background-color: lightblue;
   padding: 5px;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
}
.courage {
   background-color: lightgreen;
   padding: 5px;
}
.morality {
   background-color: orange;
   padding: 5px;
}
.health {
   background-color: red;
   padding: 5px;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
}
.money {
  background-color: darkgreen;
  padding: 5px;
}
.item {
  background-color: #cc9999; 
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  color: black;
  font-size: 20px;
}

.item:hover{
background-color: #dd9999;
}